body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

@keyframes load {
  0% {
    opacity: 0.08;
    filter: blur(5px);
    letter-spacing: 3px;
  }
}

.loadingclass {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: load 1.2s infinite 0s ease-in-out;
  animation-direction: alternate;
  text-shadow: 0 0 1px white;
  color: white;
  font-size: 2rem;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .loadingclass {
    flex-direction: column;
  }

  .title, .story {
    padding-left: 1rem;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .loadingclass {
    flex-direction: row;
  }
}
